
# root

.idea

# backend
backend/node_modules
backend/package-lock.json
backend/mysql/.env
backend/mysql/.env.test
backend/chromadb/.env
backend/chromadb/.env.test
backend/.env
backend/.env.test
backend/src/generated
backend/dist
backend/coverage-e2e


# frontend